body {
    background: #f7f9fa;
    overflow-y: scroll;
}

.inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100px;
}

.fb-div {
    margin-top: 70px;
}

.fb-div div {
    padding: 0 40px;
}

.fb-div p {
    font-size: 30px;
    margin: 0 !important;
}

.card {
    padding: 20px;
    background: #f7f9fa;
    border:0;
}

.input-group {
    height: 50px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 0 15px;
}

#hr1 {
    display: none;
}

#hr2 {
    margin-top: 0px;
}

#forgetPass2 {
    display: none;
}

#createAcBtn {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.mobile-version-footer {
    display: none;
}

@media screen and (max-width:768px) {
    
    .fb-div div {
        padding: 0px;
    }
    
    .fb-div h1 {
        font-size: 40px;
    }
    
    .fb-div p {
        font-size: 20px;
    }
    
    .card {
        padding: 20px;
        box-shadow: 0 0 8px rgba(192, 188, 188, 0.527);
        border: 8px !important;
        background: white !important;
    }

    .label {
        display: none;
    }
}

@media screen and (max-width:575px) {

    body {
        font-size: 12px;
        height: 100vh;
        /* overflow-y: scroll; */
      }
   
    .fb-div {
        margin-top: -60px;
    }
    
    .fb-div h1 {
        text-align: center;
        margin: -1em !important;
    }
    
    .fb-div p {
        font-size: auto;
        margin: 1em !important;
    }
    
    .card {
        padding: 5px;
    }
    
    #forgetPass1 {
        display: none;
    }
    
    #hr2 {
        display: none;
    }
    
    #hr1 {
        display: block;
        margin-top: 20px;
    }
    
    #hr1::before{
        position: absolute;
        content: "or";
        left: 50%;
        transform: translateX(-50%);
        margin-top: -12px;
        background: #fff;
        padding: 0 10px;
        color: #333;
    }
    
    #forgetPass2 {
        display: block;
        font-size: 20px;
    }
    
    #forgetPass2 a {
        color: rgba(0, 68, 255, 0.6);
    }
    
    #form-footer {
        display: none;
    }
    
    .mobile-version-footer {
        display: block;
        margin-top: 30px;
    }
    
    .language p {
        text-align: center;
        margin: 0;
        color: rgba(0, 68, 255, 0.6);
    }
}

.input {
    display: flex;
    justify-content: center;
}

.input input {
    background: none;
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px #e2e8ee, 0 0 2px #fff, 3px 3px 2px inset rgba(153, 153, 153, 0.4), -4px -4px 9px inset #ffffff;
    border-radius: 5px;
    padding: 0 8px;
    height: 35px;
    color: #555;
}

@media screen and (max-width:500px) {
    
    .input {
        flex-direction: column;
        width: calc(60% - 1em) !important;
    }
}
